<% provide(:title,'首页') %>
  <div >
    <div class="row-fluid" >
      <div class="span8 left"> 
      	<%= image_tag '11.jpg' , :class =>'t' %>
        <div class="lf">
          <div class='male'>
           
            <p>荤菜</p>
          
          </div>
          <ul>
             <% @food.each do |f| %>
            <li>
              <% if f.flesh == true%>
              <a class="pic"> <%= image_tag(f.image)  %> </a>
              <p class="name">  <a href=""><%= f.name %></a>  </p>
            </li>
            <% end %>
            <% end %>
        </ul>

          <div class='shucai'>
            <p>素菜</p>
          </div>
          <ul>
            <% @food.each do |z| %>
            <% if z.flesh == false %>
 			      <li>
              <a class="pic"> <%= image_tag(z.image) %> </a>
              <p class="name">  <a href=""><%= z.name %></a>  </p>
            </li>
            <% end %>
            <% end %>
          </ul>

        </div>
    


      </div>
      <div class='span4 right'>
        <div class='side'>
          <div id='profile_section'>
           <P>不太敢网上订餐？</p>

          <p>别担心，你的订单会立刻得到处理，外卖进度还会实时反馈给你。很多人已经用上瘾了，你也试一次吧。</p>
 
          </div>
<!-- jianjie -->
          <div id='profile_content'>
            <h4> Shop OnLine </h4>
            <p> It's very Amazing thing ! We provide a lot of thing you like .Just Enjoy the website.</p>
            <div id = 'shop_box'>this is shop box</div>
          </div>
        </div>

      </div>
    </div>

  </div>
  

